[submodule "CA1"]
	path = CA1
	url = https://github.com/ShahzadMomayez/CN_CA_1.git
[submodule "CA3 - Computer Networks Simulator"]
	path = CA3 - Computer Networks Simulator
	url = https://github.com/ShahzadMomayez/CN_CHomeworks_3_5.git
